# Lab 7: Exercises for Spark RDD APIs

In [ ]:
from pyspark.sql import SparkSession
from pyspark.context import SparkContext 
import pyspark.sql.functions as F
from pyspark import SparkConf

conf = SparkConf().setAppName("lab7_exercise")
sc = SparkContext.getOrCreate(conf=conf)
spark = SparkSession(sc)

### Q1

Data is in `data/flights/departuredelays.csv`. Try the following tasks using RDD API.

(1) Calculate the average of the `delay` column.

(2) Display the Top-10 rows that have the highest `delay` value. 

(3) Display the Top-5 origins that have the highest `origin` count. 

(4) Partition the data according to the `origin` columns. Put the rows where `origin` is `ATL` into one partition, while the rest rows are partitioned into three partitions.

In [ ]:
## code here

### Q2

The dataframe is already created. Using RDD API to group the data by `state` column. Get the average of `salary` column.

In [ ]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NV",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","DE",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","NV",80000,25,18000),
    ("Kumar","Marketing","NJ",91000,50,21000)
  ]

schema = "employee_name STRING, department STRING, state STRING, salary INT, age INT, bonus INT"
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(10)

In [ ]:
## Code here

# END

Thank you